<h1>Pojects</h1>

<div class="projects-wrapper">
  <% if @projects.present? %>
    <%= render "projects_list" %>
  <% else %>
    <h2>No projects</h2>
  <% end %>

  <% if @current_user.master? %>
    <%= button_tag "New Project", :id => 'new-project', :class => 'new-project-btn' %>
  <% end %>
</div>

<!-- Form container for new projects/tasks -->
<div class="form-dialog-container">
  <div id="form-dialog" class="form-dialog"></div>
</div>
