<h1>Open Pojects</h1>

<% if @projects.present? %>
  <%= render "projects_list" %>
<% else %>
  <h2>No projects</h2>
<% end %>

<% if @current_user.master? %>
  <%= button_tag "New Project", :id => 'new-project' %>
<% end %>

<!-- Form for new project -->
<div id="project-dialog" class="project-dialog">

</div>
