@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Domine|Montserrat:300');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Domine', serif;
  font-size: 16px;
  min-height: 100vh;
  background-color: $primary-blue;
  background: linear-gradient(135deg, $primary-blue 20%, $primary-green 100%);
  color: white;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-top: $big-spacing;
}
.container {
  // display: flex;
  // flex: 1;
  // justify-content: center;
  // align-items: center;
}

a {
  color: white;
  text-decoration: none;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

// ****************************
// HEADER
// ****************************

header {
  display: flex;
  justify-content: center;
  min-height: 70px;
}

.header-wrapper {
  min-width: $container-width;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img{
  height: 40px;
}

nav {
  font-family: 'Montserrat', sans-serif;
  display: none;
}

.menu-item {
  display: inline-block;
  margin: $main-spacing 0;
  padding: $small-spacing;
  &:first-child {
    padding-left: 0;
  }
}




.flex-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0vh;
  left: 0vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog-box {
  border-radius: $main-border-radius;
  color: $primary-slate;
  padding: $big-spacing;
  background-color: white;
  @include main-shadow() ;
}

input, textarea {
  margin: $small-spacing 0 $big-spacing 0;
  padding: $small-spacing;
  display: block;
  &:last-child {
    margin-bottom: 0;
  }
}

input[type='text'],
input[type='password'],
input[type='email'],
textarea {
  width: 100%;
}

select {
  display: inline-block;
  margin: $small-spacing 0 $big-spacing 0;
  padding: $small-spacing;

}

textarea {
  min-height: 8em;
}

button,
input[type='submit'] {
  @include main-button($primary-green, white);
  outline: none;
}

footer {
  display: flex;
  justify-content: center;
  font-size: .7em;
}
