.container {
  max-width: 90%;
  margin: 0 auto;
}

button {
  padding: .8em;
  background: rgb(177, 177, 177);
  border: 0;
}

.form-dialog-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  background-color: rgba(255, 255, 255,0.6);
}

.form-dialog {
  padding: 1em;
  background: rgb(255, 255, 255);
  box-shadow: 2px 2px 5px rgb(125, 125, 125);
  width: 300px;
}

input,
textarea {
  width: 100%;
  display: block;
}
