$primary-blue: rgba(57, 106, 146, 1);
$primary-green: rgba(40, 173, 160, 1);
$primary-slate: rgba(85, 98, 112, 1);
$background: rgba(137, 206, 222, 1);


$main-spacing: 1em;
$small-spacing: 0.5em;
$big-spacing: 2em;

$main-border-radius: 4px;
$big-border-radius: 8px;

@mixin main-shadow() {
  box-shadow: 0px 5px 20px darken($primary-slate, 20);
}

@mixin main-button($bgColor, $color) {
  background-color: $bgColor;
  color: $color;
  padding: $small-spacing $main-spacing;
  border: 0;
  border-radius: $main-border-radius;
  box-shadow: 0px 2px 0px darken($bgColor, 10);
}


$container-width: 85%;
