$primary-blue: rgba(57, 106, 146, 1);
$primary-green: rgba(40, 173, 160, 1);
$primary-slate: rgba(85, 98, 112, 1);
$background: rgba(137, 206, 222, 1);


$main-spacing: 1em;
$small-spacing: 0.5em;
$big-spacing: 2em;

$container-width: 85%;
